{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}



        




    <div class="form-largescreen">
        <h1>Inscription</h1>
            {{ form_start(registrationForm,) }}
        {{ form_row(registrationForm.name,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.first_name,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.email,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.password, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.age, {'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.location,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.description,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.img,{'attr':{'class':''} }) }}

        

        {{ form_row(registrationForm.agreeTerms) }}

<<<<<<< HEAD
        <button type="submit" class="submit">valider</button>
=======
        <button type="submit" class="btn-connexion">Inscription</button>
>>>>>>> d685ce12e3b6446345756142316d98f27d08937e
    {{ form_end(registrationForm) }}
      </div>




    
{% endblock %}