{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


    <div class="form-largescreen" >
        <h1>Inscription</h1>
            {{ form_start(registrationForm,) }}
        {{ form_row(registrationForm.name,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.first_name,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.email,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.password,{'attr':{'class':'form-control'} }) }}
         
      
        {{ form_row(registrationForm.age, {'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.location,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.description,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.img,{'attr':{'class':''} }) }}

        

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="submit">valider</button>
    {{ form_end(registrationForm) }}
      </div>




    
{% endblock %}