{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
{% block stylesheet %}
<link rel="stylesheet" href="{{asset('css/modifProfil.css')}}">
    
{% endblock stylesheet %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<body>
    
{% for message in app.flashes('message') %}
<div class="alert alert-success " role="alert">
    {{message}}
</div>
{% endfor %}
    <div class="profil container-fluid">

        <div class=" info-profil container d-flex justify-content-around">
        
            <div class="d-flex">

                <img src="{{asset('img/profil/' ~ user.img)}}" alt="pdp" class="profil-img" width="80em" height="80em">
                
                <div class="container d-flex-column ml-2" > 
                    <h3 id="nameOfUserProfil" class=>{{ user.firstname }}  {{ user.name }}</h3>
                    <h6 style="color: #09999A">{{ user_age}} ans</h6>
                    <h6 style="color: #09999A">{{ user.location }}</h6>
                </div>

                <a class="modif-btn m-2 ml-5" href="#" data-toggle="modal" data-target="#modif-info-profil" id="sizemodifinfoprofil"><i class="fas fa-user-edit fa-3x" id="modifProfil"></i></a>

            </div>

            <p class="description-profil text-dark col-10 m-2 p-2">{{user.description}}</p>


        </div>
    </div>
    <div class="modal fade" id="modif-info-profil" tabindex="-1" role="dialog" aria-labelledby="signLabel" aria-hidden="true">
       
            <div class="modal-dialog modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="connexLabel"><em class="fa fa-user"></em> Modification du profil</h5>
                        <button type="button" class="close" data-dismiss="modal" ><i class="fas fa-times"></i></button>
                    </div>

                    <div class="modal-body">
                        {{form_start(updateProfilForm)}}

                            {{ form_row(updateProfilForm.location,{'attr':{'class':'form-control'} }) }}
                            {{ form_row(updateProfilForm.description,{'attr':{'class':'form-control'} }) }}
                            {{ form_row(updateProfilForm.email,{'attr':{'class':'form-control'} }) }}
           
                            {{form_widget(updateProfilForm)}}

                            <button id="modification" type="submit" class="submit">Modifier les changements</button>

                        {{form_end(updateProfilForm)}}
                    </div>

                </div>
            </div>
        
    </div>

    <article class="container mb-5" >
        <h2 class="mt-5">Mes voyages</h2>         
        <div class="container travel-list scroll-1" id="sizesmallscreen" >
            {% for publication in publications %}
                {% if publication.user.id == user.id %}

                <div class="col-5 m-1 own-travel" >
                    <div class="presentation p-2">
            
                        <div class="date">
                            <h4>{{ publication.countryStart | country_name}} <i class="fas fa-plane"></i> {{ publication.countryName | country_name }} </h4>
                            <h4 class=""> {{ publication.date | date('d/m/Y')}}</h4>
                            <a class="" href="{{ path('publication_update', {'id': publication.id})  }}">Modifier mes voyages</a>
                        </div>
                  
                    </div>
                </div>

                {% endif %}

            {% else %}

                <h2> Aucun voyages effectué</h2>

            {% endfor %}
            </div>
    </article>

   
<div class="form-largescreen container" data-scroll data-scroll-speed>
    <h2 class="text-white mb-4">Ajouter un nouveau voyage :</h2>

        {{ form_start(formPublication) }}

        {{form_widget(formPublication)}}

        <button type="submit" class="submit mt-2">Publier l'annonce</button>

        {{ form_end(formPublication) }}
</div>

        {% for message in app.flashes('message') %}
            <div class="alert alert-success " role="alert">
               {{message}}
            </div>
        {% endfor %} 
</body>
{% endblock %}
