{% extends 'base.html.twig' %}

{% block title %}profil{% endblock %}

{% block javascripts %}
<script>
    const card = document.getElementsByClassName('contenuCard');

    for (i = 0; i < card.length; i++) {
        card[i].addEventListener('click', function () {
            this.classList.toggle('active')
        })
    }
</script>
{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="profil">
    <div class="info-profil">
        <img src="{{asset('img/profil/' ~ user.img)}}" alt="pdp" class="profil-img" width="80px" height="80px">
        <h3>{{ user.firstname }}</h1>
            <h3>{{ user.name }}</h2>
                <h3>{{ user_age}} ans</h3>
                <h3>{{ user.location }}</h3>
                <p>{{user.description}}</p>
    </div>

    <div class="ligne"></div>

    <div class="msg">
    
            <h1>Envoyez un message </h1>
            {{ form_start(contactVoyageurForm) }}
            {{ form_row(contactVoyageurForm.sujet,{'attr':{'class':'form-control'} }) }}
            {{ form_row(contactVoyageurForm.message,{'attr':{'class':'form-control'} }) }}
            {{ form_row(contactVoyageurForm.envoyer,{'attr':{'class':'submit'} }) }}
            {{ form_end(contactVoyageurForm) }}
        </div>
    </div>


</div>


<article class="container">
    <h2>Ses voyages</h2>
    <div class="container travel-list scroll-1 ">
        {% for publication in publications %}
        {% if publication.user.id == user.id %}
        <div class="col-5 m-1 own-travel">
            <div class="presentation p-2">
                <div class="user-info m-2">
               
                </div>
                <div class="date">
                    <h4>{{ publication.countryStart | country_name}} <i class="fas fa-plane"></i> {{
                        publication.countryName | country_name }} </h4>
                    <h4 class=""> {{ publication.date | date('d/m/Y')}}</h4>
                </div>

            </div>
        </div>
        {% endif %}
        {% else %}
        <h2> Aucun voyages pour le moment</h2>
        {% endfor %}
    </div>
</article>



{% endblock %}