{% extends 'base.html.twig' %}

{% block title %} modifier un utilisateur {% endblock %}

{% block body %}

<div class="container-fluid p-4">
        <h2 class="text-center"> modifier un utilisateur </h2>



    <div class="col-4 offset-4">

    
            {{ form_start(registrationForm,) }}
        {{ form_row(registrationForm.name,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.first_name,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.email,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.age, {'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.location,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.description,{'attr':{'class':'form-control'} }) }}
        {{ form_row(registrationForm.img) }}
        {{ form_row(registrationForm.agreeTerms) }}
        
        <button type="submit" class="btn btn-success">valider </button>
    {{ form_end(registrationForm) }}
      </div>
                  <a href=" {{path('admin_user')}} "> retour </a>
</div>
    
{% endblock %}
