{% extends "base.html.twig" %}

{% block title %}Pays{% endblock %}

{% block body %}

 <h1> Ajouter les moficication pour {{ country.countryName }} </h1>
 <div class="form-largescreen">
{{ form_start(countryForm,) }}
{{ form_row(countryForm.description,{'attr':{'class':'form-control'} }) }}
{{ form_row(countryForm.imagePays) }}

<button class="submit" type="submit" class="btn btn-success">valider form</button>
{{ form_end(countryForm) }} 
</div>

<a href=" {{path('admin')}} "> retour </a>

{% endblock %}