{% extends 'base.html.twig' %}

{% block title %} modifier un utilisateur {% endblock %}

{% block body %}

<div class="container-fluid p-4">
        <h2 class="text-center"> modifier un utilisateur </h2>



    <div class="col-4 offset-4">

    
            {{ form_start(updateAdminForm,) }}
        {{ form_row(updateAdminForm.name,{'attr':{'class':'form-control'} }) }}
        {{ form_row(updateAdminForm.first_name,{'attr':{'class':'form-control'} }) }}
        {{ form_row(updateAdminForm.email,{'attr':{'class':'form-control'} }) }}
        
        {{ form_row(updateAdminForm.age, {'attr':{'class':'form-control'} }) }}
        {{ form_row(updateAdminForm.location,{'attr':{'class':'form-control'} }) }}
        {{ form_row(updateAdminForm.description,{'attr':{'class':'form-control'} }) }}
        {{ form_row(updateAdminForm.img) }}
        {{ form_row(updateAdminForm.agreeTerms) }}
        
        <button type="submit" class="btn btn-success">valider </button>
    {{ form_end(updateAdminForm) }}
      </div>
                  <a href=" {{path('admin_user')}} "> retour </a>
</div>
    
{% endblock %}
