{% extends 'base.html.twig' %}

{% block title %}utilisateurs{% endblock %}

{% block body %}

{% for message in app.flashes('message') %}
<div class="alert alert-success " role="alert">
    {{message}}
</div>
    
{% endfor %}
    <h2 style="font-size: 2em;" class="m-4 mt-5">Liste des utilisateurs</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>nom</th>
                <th>prenom</th>
                <th>email</th>
                <th>Roles</th>
                <th>age</th>
                <th>localisation</th>
                <th>description</th>
                <th>image</th>
                <th>modifier</th>
                <th>supprimer</th>
            
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                {% set counter = ( counter | default(-1) ) + 1 %}
                <td>{{ loop.index }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td> 
                <td>{{ user.roles|join(' + ')|lower }}</td>
                <td>{{ user_age.age[counter]}}</td>
                <td>{{ user.location }}</td>
                <td>{{ user.description }}</td>
                <td>{{ user.img }}</td>
               
                <td>
                     <a href=" {{ path('user_update', {'id':user.id})  }} ">modifier</a> 
                    
                </td>
                <td>
                    <a href="  {{ path('user_delete', {'id':user.id})  }} "> suprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="ml-4" style="background-color: #6923E5; border-radius: 20px; width:10em; padding:0.2em">
        <i class="fas fa-plus mr-1" style="color:white"></i><a style="color:white" href=" {{ path('create_user')}} ">créer un utilisateur</a>
    </div>


{% endblock %}
