{% extends 'base.html.twig' %}

{% block title %}creation utilisateur {% endblock %}

{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/form_css/form.css')}}">
{% endblock %}


    <h2 class="text-center">creer un utilisateur</h2>





<div class="form-largescreen">
        {{ form_start(registrationForm,) }}
        <div class="short">
            {{ form_row(registrationForm.name,{'attr':{'class':'form-control'} }) }}
            {{ form_row(registrationForm.first_name,{'attr':{'class':'form-control'} }) }}
        </div>
        {{ form_row(registrationForm.email,{'attr':{'class':'form-control2'} }) }}
        <div class="short">
            {{ form_row(registrationForm.password, {
            label: 'Password','class':'form-control'
            }) }}
        </div>
        {{ form_row(registrationForm.age, {'attr':{'class':'form-control2'} }) }}
        {{ form_row(registrationForm.location,{'attr':{'class':'form-control2'} }) }}
        {{ form_row(registrationForm.description,{'attr':{'class':'form-control2'} }) }}
        {{ form_row(registrationForm.img,{'attr':{'class':''} }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="submit">valider </button>
        {{ form_end(registrationForm) }}
    </div>
</div>
</div>

{% endblock %}