{% extends 'base.html.twig' %}

{% block title %}utilisateurs{% endblock %}

{% block body %}
    <h2>utilisateurs</h2>
    
    <table>
        <thead>
            <tr>
                <th>nom</th>
                <th>prenom</th>
                <th>email</th>
                <th>age</th>
                <th>mdp</th>
                <th>localisation</th>
                <th>description</th>
                <th>image</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                {% set counter = ( counter | default(-1) ) + 1 %}
                <th>{{ user.name }}</th>
                <th>{{ user.firstname }}</th>
                <th>{{ user.email }}</th>
                <th>{{ user_age.age[counter]}}</th>
                <th>{{ user.password }}</th>
                <th>{{ user.location }}</th>
                <th>{{ user.description }}</th>
                <th>{{ user.img }}</th>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
