{% extends 'base.html.twig' %}

{% block title %}utilisateurs{% endblock %}

{% block body %}
    <h2>utilisateurs</h2>
    
    <table>
        <thead>
            <tr>
                <th>nom</th>
                <th>prenom</th>
                <th>email</th>
                <th>age</th>
                <th>mdp</th>
                <th>localisation</th>
                <th>description</th>
                <th>image</th>
                <th>modifier</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                {% set counter = ( counter | default(-1) ) + 1 %}
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user_age.age[counter]}}</td>
                <td>{{ user.location }}</td>
                <td>{{ user.description }}</td>
                <td>{{ user.img }}</td>
                <td>
                    <a href=" {{path('update_user')}} ">mdifier user</a>
                    <a href=""> suprimer user</a>
                </td>


            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href=" {{ path('create_user')}} ">créé user</a>


{% endblock %}
