
{% extends "base.html.twig" %}

{% block title %}Hello CountryPageController!{% endblock %}

{% block body %}



<body>
    
        {% if countryPage.countryNameFr %}
                <h1>Hello {{ countryPage.countryNameFr }}! ✅</h1>
        {% endif %}
        
        <div>
        {{ form_start(formPublication) }}
            
            {{ form_widget(formPublication) }}
        
            <button type="submit" class="submit">Publier l'annonce</button>
        {{ form_end(formPublication) }}
        </div>
        
        <div>
        {% for publication in publications %}
            {% if countryPage.countryName == publication.countryName  %}
                <div>
                    <img src="{{ publication.img}}" alt="">
                    <h3>Road to </h3> 
                    <p>{{publication.duration}}</p>
                    <p>{{publication.date | date('d/m/Y')}}</p>
                    <img src="{{asset('img/profil/publication.user.img')}}" alt="pdp">
                    <p>{{publication.user.name}} </p>
                    <p>{{publication.user.location}}  {{countryPage.countryNameFr}}</p>
                    
                
            {% endif %}
        {% endfor %}
          
</body>
{% endblock %}
