
{% extends "base.html.twig" %}

{% block title %}{{ countryPage.countryName }}{% endblock %}
  

{% block body %}
{% if user %}



<div class="country-img" style="background-image:url('{{countryPage.imagePays}}');">
    {% if countryPage.countryName %}
                <h1>{{ countryPage.countryName }}... Une envie de partir ? </h1>     
        {% endif %}
</div>
  

        
      
        
            
<article class="container   p-auto">
  {% for publication in publications %}
  {% if countryPage.countryName == publication.countryName  %}
  <div class="card col-5 m-3 p-3">
    <div class="presentation">
      <div class="user-info">
        <a href=""><img src="{{asset('img/profil/publication.user.img')}}" alt="pdp"></a>
        <h3>{{ publication.user.firstName }}</h3>
      </div>
      <div class="date">
        <h4>{{ publication.user.location }} <i class="fas fa-plane"></i> {{ countryPage.countryName }}</h4>
        <h4 class=""> départ le {{ publication.date | date('d/m/Y')}}</h4>
      </div>
      <a href="{{ path('profil_voyageur',{'id':publication.user.id } ) }}" class="button-info-1">A propos de {{ publication.user.firstName }}</a>
      <a class="button-info-2">Contacter</a>
    </div>
  </div>
  {% endif %}
  

{% endfor %}
</article>
        
          
</body>
{% else %}
<h2>Vous devez etre connecter pour acceder à ce contenu</h2>
<a href="{{ path('app_login') }}">Connexion</a>
{% endif %}
{% endblock %}

