
{% extends "base.html.twig" %}

{% block title %}{{ country.countryName }}{% endblock %}
  

{% block body %}
{% if user %}



<div class="country-img container" style="background-image:url('{{country.imagePays}}');">
    {% if publication | length == 0 %}
                <h1>{{ country.countryName }}... Une envie de partir ? </h1>     
                {%  else %}
                <h1>Zut il n'y a pas de voyage prévu pour ce pays</h1>
                <a href="{{path('profil')}}" class="boutton-info-2">Publier une annonce</a>

      {% endif %}
</div>
  

        
      
        
            
<article class="container   p-auto">
  {% for publication in publications %}
  {% if country.countryCode == publication.countryName  %}
  <div class="col-5 m-3 p-3 card">
    <div class="presentation p-2">
      <div class="user-info m-2" >
        <a href="{{ path('profil_voyageur',{'id':publication.user.id } ) }}"><img src="{{asset('img/profil/' ~ publication.user.img)}}" alt="pdp" class="profile-img" width="80px" height="80px"></a>
        <h3>{{ publication.user.firstName }}</h3>
      </div>
      <div class="date">
        <h4>{{ publication.countryStart | country_name }}<i class="fas fa-plane"></i> {{ publication.countryName | country_name }} </h4>
        <h4 class=""> départ le {{ publication.date | date('d/m/Y')}}</h4>
      </div>
      <a href="{{ path('profil_voyageur',{'id':publication.user.id } ) }}" class="button-info-1">A propos de {{ publication.user.firstName }}</a>
      <a class="button-info-2">Contacter</a>
    </div>
  </div>
  {% endif %}
  

{% endfor %}
</article>
        
          
</body>
{% else %}
<h2>Vous devez etre connecter pour acceder à ce contenu</h2>
<a href="{{ path('app_login') }}">Connexion</a>
{% endif %}
{% endblock %}

