
{% extends "base.html.twig" %}

{% block title %}{{ country.countryName }}{% endblock %}
  

{% block body %}


<main style='background-image:url("{{asset('img/pays/' ~ country.imagePays)}}")'>
  <h1 >{{ country.countryName }}</h1>
  <h2>C'est le moment de partir à la découverte</h2>
</main>
<div class="container">
<h2>Description</h2>
<p>{{ country.description }}</p>
</div>

{% if user %}


           
<article class="container d-flex justify-content-center col-8 m-auto">
  {% for publication in publications %}

  {% if country.countryCode == publication.countryName  %}

  <div class="container col-3 m-4 p-2 d-flex card">
    <div class="presentation p-2 d-flex-column align-items-center">

      <div class="user-info d-flex align-items-center" >
        <a href="{{ path('profil_voyageur',{'id':publication.user.id } ) }}"><img src="{{asset('img/profil/' ~ publication.user.img)}}" alt="pdp" class="profil-img" width="60px" height="60px"></a>
        <h3 class="m-2">{{ publication.user.firstName }}</h3>
      </div>

      <div class="date ">
        <h6>{{ publication.countryStart | country_name }}<i class="fas fa-plane m-2"></i> {{ publication.countryName | country_name }} </h6>
        <h7 class="m-1">{{ publication.date | date('d/m/Y')}}</h7>
      </div>
    </div>
      <a href="{{ path('profil_voyageur',{'id':publication.user.id } ) }}" class="button-info-1 m-1">A propos de {{ publication.user.firstName }}</a>
    
    
  </div>
  {% endif %}
  

{% endfor %}
</article>
        
          
</body>
{% else %}
<h2>Vous devez etre connecter pour acceder à ce contenu</h2>
<a href="{{ path('app_login') }}">Connexion</a>
{% endif %}
{% endblock %}

